<div>
  <h1>Weather Application</h1>

  <form action="" method="get">
      <input type="text" name="city" placeholder="Enter city" [(ngModel)]="city">
      <button type="button" (click)="getWeather()">Get Weather</button>
  </form>

  <div *ngIf="weatherData">
    <h2>{{weatherData.name}}</h2>
    <p>Temperature : {{weatherData.main.temp}}</p>
    <p>Humidity : {{weatherData.main.humidity}}</p>
    <p>Weather : {{weatherData.weather[0].description}}</p>
  </div>
</div>


<!-- ================================================================= -->



<div class="container-fluid px-1 px-md-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center px-3 ">
      <div class="card text-white my-autor text-center ">
          <h2 class="ml-auto mr-4 mt-3 mb-0">{{weatherData.name}}</h2>
          <p class="ml-auto mr-4 mb-0 med-font">Temperature : {{weatherData.main.temp}}</p>
          <!-- <h1 class="ml-auto mr-4 large-font">-20&#176;</h1> -->
          <p class="ml-auto mr-4 mb-0 med-font">Humidity : {{weatherData.main.humidity}}</p>
          <p class="ml-4 mb-4">Weather : {{weatherData.weather[0].description}}</p>
      </div>
  </div>
</div>
